<h2>Formas de entrega</h2>

<ul class="ch-form-options" data-js="shipping">
    {{#if shipping.local_pickup}}
    <li><a href="#shipping/method/localpickup">Retiro en domicilio</a></li>
    {{/if}}

    {{#if shipping.me}}
        {{#if shipping.me.sucursal}}
            <li><a href="#shipping/method/me_sucursal">Retiro en domicilio</a></li>
        {{/if}}
        <li><a href="#shipping/method/me">Envio domicilio</a></li>
    {{/if}}

    {{#if shipping.custom}}
        <li><a href="#shipping/method/custom">Envio domicilio</a></li>
    {{/if}}

</ul>
