<footer role="contentinfo" class="nav-footer">
    <div class="nav-bounds">
        <!-- Logged in content (small devices) -->
        <p class="nav-footer-user">Username (<a href="https://www.mercadolibre.com/jms/mla/lgz/logout" rel="nofollow">Salir</a>)</p>
        <!-- Not logged in content (small devices) -->
        <!--
        <p class="nav-footer-user">
            <a class="nav-footer-registration ch-btn-skin ch-btn-small" href="https://registration.mercadolibre.com.ar/registration/" rel="nofollow">Regístrate</a>
            <a href="https://www.mercadolibre.com/jms/mla/lgz/login" rel="nofollow">Ingresa</a>
        </p>
        -->

        <!-- Each country has different copyrights. Check which copyright you need. -->
        <div class="nav-footer-primaryinfo">
            <small class="nav-footer-copyright">© 1999-YYYY MercadoLibre</small>

            <nav class="nav-footer-navigation">
                <a href="http://www.mercadolibre.com.ar/seguro_terminos.html">Términos y condiciones</a>
                <a href="http://www.mercadolibre.com.ar/seguro_privacidad.html">Políticas de privacidad</a>
                <a href="http://ayuda.mercadolibre.com.ar/">Ayuda</a>
            </nav>

            <a href="#" class="nav-footer-change-device">Versión clásica</a>
        </div>

        <p class="nav-footer-secondaryinfo">CNPJ n.º 03.007.331/0001-41 / Avenida Marte, 489, Térreo, Parte A / Santana de Parnaíba-SP / CEP: 06541-005 - empresa do grupo MercadoLivre.</p>
    </div>
</footer>
