<header role="banner" class="nav-header nav-header-lite">
    <div class="nav-bounds">
        <a class="nav-logo" href="/" tabindex="1">MercadoLibre - Donde compras y vendes de todo</a>
        <!-- Menu - Switch checkbox (Small devices) -->
        <input type="checkbox" id="nav-header-menu-switch"/>
        <div class="nav-header-menu-wrapper">
            <!-- Menu - Hamburger (Small devices) -->
            <label for="nav-header-menu-switch" aria-controls="nav-header-menu" data-fastClick tabindex="3">
                <i class="nav-header-menu-switch-icon"></i>
            </label>
            <!-- Menu - Expandable (Logged in) -->
            <nav id="nav-header-menu">
                <div class="nav-header-user">
                    <label for="nav-header-user-switch" data-fastClick tabindex="4">
                        <!--[if lt IE 9]><a href="https://myaccount.mercadolibre.com.ar/summary/" rel="nofollow"><![endif]-->
                        Username <i class="nav-icon-user"></i>
                        <!--[if lt IE 9]></a><![endif]-->
                    </label>
                    <input type="checkbox" id="nav-header-user-switch"/>
                    <nav class="nav-header-user-layer">
                        <a href="https://myaccount.mercadolibre.com.ar/summary/" rel="nofollow">Mi cuenta</a>
                        <a href="https://www.mercadolibre.com/jms/mla/lgz/logout" rel="nofollow">Salir</a>
                    </nav>
                </div>
                <a href="http://ayuda.mercadolibre.com.ar/"><i class="nav-icon-help"><span>Ayuda</span></i></a>
            </nav>
        </div>
    </div>
</header>
